body {
    height: 100vh;
    background-color: #f7f7f7;
    background-image: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.content {
    position: relative;
    top: 30px;
}

table {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.back {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    margin-bottom: 50px;
}

.mat-column-right {
    text-align: center;
}

td.mat-cell {
    border: none;
    font-size: 15px;
}

th.mat-header-cell {
    margin-top: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

 ::ng-deep .mat-card {
    border: rgba(0, 0, 0, 0) !important;
    box-shadow: none;
}

.button {
    position: absolute;
    left: 0px;
    top: 90px;
}