<body>
    <h3>DMCA Takedown Policy</h3>
    <p>
        Welcome to Musica's Guide to the Digital Millennium Copyright Act (DMCA). If you've received a DMCA takedown notice targeting content you've posted on Musica or if you're a rights-holder looking to issue such a notice, this page will hopefully help to.
        This guide isn't legal advice and shouldn't be taken as such.
    </p>
    <h4>What is the DMCA</h4>
    <p>
        The DMCA is a copyright liability safety net for internet service providers hosting allegedly infringing user-generated content. Essentially, so long as a service provider follows the DMCA's notice-and-takedown rules, it won't be liable for copyright
        infringement based on user-generated content. </p>
    <h4>Takedown Procedure</h4>
    <p>
        In your complaint, please include:
    </p>
    <ol>
        <li>The following statement: "I have read and understand Musica's DMCA Take Down Policy</li>
        <li>Identify copyrighted work</li>
        <li>Idenfity material that is being copyrighted by the work above</li>
        <li>Explain what needs to be done to remedy the copyright</li>
        <li>Provide your contact information</li>
        <li>Provide contact information of the alleged person commiting copyright, if possible</li>
        <li>The following statement: "I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.”</li>
        <li>The following statement: "The information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</li>
        <li>Include your physical or electronic signature</li>
    </ol>
    <h4>Where do I Send this Notice</h4>
    <p>
        Send an email notification to <strong>copyright@musica.ca</strong>
    </p>
    <p><strong>Revised: </strong>1 December 2019</p>

</body>