body {
    padding: 3%;
    padding-right: 7%;
    color: #f7f7f7;
    height: 100vh;
    background-image: url("songsbackground.png");
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

.loginForm {
    background-color: rgba(10, 10, 15, 0.952);
    padding: 5%;
    height: 80%;
    border-radius: 3%;
    margin-top: 5%;
}

.title {
    color: #f7f7f7;
}

.shadow {
    box-shadow: 0 20px 25px 20px rgb(0, 0, 0)
}

.btn:hover {
    background-color: #ad0d4a;
    color: #f7f7f7;
    border-color: #ad0d4a;
}

.box {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(207, 207, 207, 0.411);
    color: #f7f7f7;
}

.blurb {
    position: relative;
    top: 200px;
    left: 160px;
    font-weight: bold;
}