<body>
    <div>
        <br>
        <mat-card>
            <section class="mat-typography">
                <h3>Add Review</h3>
            </section>
            <mat-divider></mat-divider>
            <br>
            <form [formGroup]="createForm" class="create-form">
                <mat-form-field class="field-full-width">
                    <input placeholder="Username" matInput formControlName="username" #username>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Review" formControlName="review" #review>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Rating" formControlName="rating" #rating>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-divider></mat-divider>
                <br><br>
                <button mat-raised-button color="accent" (click)="back()">Back</button>&nbsp;
                <button type="submit" (click)="addReview(username.value, review.value, rating.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Add</button>
            </form>
        </mat-card>
    </div>
</body>