<body>
    <div>
        <br>
        <h3>Top Songs</h3>
        <input type="text" placeholder="search..." [(ngModel)]="searchBox">
        <mat-accordion *ngFor="let song of songs | filter:searchBox; let i = index">
            <mat-expansion-panel (opened)="fetchRecentReview(song._id); fetchRatings(song._id)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{i + 1}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <b>{{ song.title }}</b>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>By {{ song.artist }}</p>
                <p>Album: {{ song.album }}</p>
                <p>Year: {{ song.year }}</p>
                <p>Genre: {{ song.genre }}</p>
                <ul>
                    <li *ngFor="let rating of ratings">
                        {{ calculateRating(ratings) }}
                    </li>
                    <li>
                        <p>Average rating: {{ avgRating }}</p>
                    </li>
                    <li *ngFor="let review of reviews">
                        <h6>Most recent review: </h6>
                        <p>{{ review.username }}</p>
                        <p>{{ review.rating}}/5</p>
                        <p>{{ review.review }}</p>
                    </li>
                </ul>
                <button class="view-reviews" (click)="getReviews(song._id)">See all reviews</button>
            </mat-expansion-panel>
        </mat-accordion>

        <button *ngIf="authService.loggedIn()" mat-raised-button color="primary" (click)="addSong()">Add New Song</button>

        <!-- <table mat-table [dataSource]="songs" class="back">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef></th>
                <td *matCellDef="let element"> <span class="title">{{element.title}}</span><br><span class="artist">{{element.artist}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="artist">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="rating"> {{element.rating}}
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                         <i class="fas fa-angle-right expand"></i> 
        <a class="view-reviews" (click)="getReviews(element._id)">See all</a>
        </li>
        </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table> -->
    </div>
</body>