<body>
    <div class="loginForm shadow">
        <h2>Login</h2>
        <form (submit)="onLoginSubmit()">
            <div class="form-group">
                <label>Username</label>
                <input type='text' class="form-control box" [(ngModel)]="username" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control box" [(ngModel)]="password" name="password">
            </div>
            <input type="submit" class="btn btn-light" value="Login">
        </form>
    </div>
</body>