.navbar {
    background-color: rgba(0, 0, 0, 0.377);
}

.items {
    position: relative;
    padding-right: 55px;
}

.nav-item {
    padding: 0 5px;
}

.navbar-brand {
    position: relative;
    padding-left: 55px;
}

.manager {
    font-size: 13px !important;
    padding-left: 5px !important;
    padding-top: 20px !important;
}