.navbar {
    background-color: rgba(0, 0, 0, 0.377);
}

.items {
    position: relative;
    padding-right: 55px;
}

.nav-item {
    padding: 0 5px;
}

.navbar-brand {
    position: relative;
    padding-left: 55px;
}