.navbar {
    background-color: rgba(0, 0, 0, 0.555);
}

.items {
    position: relative;
    padding-right: 55px;
}

.nav-item {
    padding: 0 5px;
}

.navbar-brand {
    position: relative;
    padding-left: 55px;
    font-weight: bold;
    color: #f7f7f7;
    font-size: 25px;
}

.manager {
    font-size: 13px !important;
    padding-left: 5px !important;
    padding-top: 15px !important;
}