/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

.flash-message {
    position: fixed;
    top: 60px;
    z-index: 1000;
    width: 50%;
}