<body>
    <div>
        <br>
        <h3>All Reviews</h3>
        <mat-card>
            <button *ngIf="authService.loggedIn()" mat-raised-button color="primary" (click)="addReview()">Add Review</button>
            <br><br>
            <mat-divider></mat-divider>
            <br>
            <table mat-table [dataSource]="reviews">

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef>Username</th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="review">
                    <th mat-header-cell *matHeaderCellDef>Review</th>
                    <td mat-cell *matCellDef="let element"> {{element.review}} </td>
                </ng-container>

                <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef>Rating</th>
                    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button mat-raised-button color="accent" routerLink="/charts">Back</button>
        </mat-card>
    </div>
</body>